h1 {
    font-size: 1.5cm;
}
form {
    margin: 25px;
}

.th {
    border-top: none !important;
    padding: .55rem;
    text-align: center;
}

#container-train, #container-schedule {
    border: #c3e6cb solid;
    border-radius: .25rem;
    z-index: 1;
}
    
#container-schedule {
    margin-bottom: 25px;
}